body {
    background-image: url(images/bg.jpg)
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  h3 {
    margin: 0 0 1em 0;
  }
  

  
  header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
  }
  
  #logo {
    text-align: center;
    margin: 0;
  }
  
  h1 {
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
  }
  
  h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
  }

  
  nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    font-weight: 800;
    padding: 15px 10px;
  }
  

  header {
    background: #70a2d4;
    border-color: #70a2d4;
  }
  
  /* nav background on mobile */
  nav {
    background: #70a2d4;
  }
  
  /* logo text */
  h1, h2 {
    color: black;
  }
  
  /* nav link */
  nav a, nav a:visited {
    color: #fff;
  }
  
  /* selected nav link */
  nav a.selected, nav a:hover {
    color: black;
  }
    

  @media screen and (min-width: 660px) {

    nav {
      background: none;
      float: right;
      font-size: 1.125em;
      margin-right: 5%;
      text-align: right;
      width: 45%;
    }
    
    #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
    }
    
    h1 {
      font-size: 2.5em;
    }
    
    h2 {
      font-size: 0.825em;
      margin-bottom: 20px;
    }
    
    header {
      margin-top: 60px;
      border-bottom: 5px solid #70a2d4;
      margin-bottom: 60px;
    }
  
    
  }
  

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:center;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:black;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
    color: white;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}

/*  */

*, *:before, *:after {
    box-sizing: inherit;
  }
  html {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    font-size: 100%;
      line-height: 1.5;
    color: #121212;
  }
  
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  h1, h2, h3, h4 {
    text-transform: uppercase;

  }
  .logo {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 32px;
  }
  .icon-link {
    transition: 0.3s;
  }
  .icon-link:hover {
     color:  cadetblue;
  }
  .site-title {
    font-size: calc(36px + 3vw); 
  }
  .site-subtitle {
    font-weight: normal;
    text-transform: none;
    font-size: calc(1.5rem + 1vw);
  }
  .page-header {
    margin: 48px 0;
    text-align: center;
  }
  .box {
    padding: 3rem;
  }
  .about,
  .page-footer {
    border-top: 1px solid;
  }
  .contact {
    text-align: center;
    margin: 48px 0;
    color: #fff;
    background:#70a2d4 ;  
  }
  blockquote {
    color: #fff;
    font-size: calc(1rem + 2vw);
  }
  blockquote strong {
    display: block;
  }
  .page-footer {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  address {
    margin-bottom: 1.5rem;
  }

  .boxabout p,li
{
color: white;

}
.boxabout h2
{
color: white;
font-size: 30px;

}